[user]
	email = scplay@gmail.com
	name = ZeonWang
[color]
	ui = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	st = status
	sts = status -s
	ch = checkout
	chb = checkout -b
	cm = commit -m
	br = branch
	ad = add
	cma = commit -am
	ps = push
	po = push origin
	cl = clone
[push]
	default = simple
